

/* Balance Page */
.navbar-section-reportes{
  background-color: #00D1B2;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.navbar-links-desktop-reportes{
  display: none;
}
