/* Stylesheets */
@import url('./mobile.css');
@import url('./tablet.css') screen and (min-width: 768px);
@import url('./desktop.css') screen and (min-width: 1024px);



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}
