*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}
.navbar-section{
    background-color: #00D1B2;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar{
    display: flex;
    line-height: 1.125;

}
.navbar i {
    font-weight: 600;
    font-size: 2.2rem;
    margin-right: 15px;
}
.navbar-links{
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
    display: none; /* Inicialmente oculto */
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(10,10,10,.1);


}
.navbar-links i{
    margin-right: 10px;
}
.navbar-links li{
    list-style: none;
}
.navbar-links a{
    color: #4a4a4a;
    text-decoration: none;


}
.navbar-links.show-nav {
    display: block;
}
#close{
    display: none;
}
